@model NewsViewModel
<div class="card">
    <a href="@Model.Url">
        <img class="card-img-top" src="@Model.UrlToImage" alt="@Model.Title" />
    </a>
    <div class="card-body">
        <h3 class="card-title">
            <a href="@Model.Url">@Model.Title</a>
        </h3>
        <p class="cart-text">@Model.Description</p>
        <small>Published on @Model.PublishedAt.ToShortDateString()</small>
    </div>
</div>